{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/css/signIn.css">
    <link rel="stylesheet" type="text/css" href="/assests/css/thongTinCaNhan.css">
    <link rel="stylesheet" type="text/css" href="/assests/css/quanLyTinMua.css">
{{/section}}

{{#section 'js'}}
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assests/js/quanLyTinMua.js"></script>
{{/section}}


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="bs-example bs-example-standalone" data-example-id="dismissible-alert-js">
                    <div id="myAlert" class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4>Bạn biết chưa?</h4>
                        <p>Để có thể đăng tin đấu giá bạn cần xây dựng độ tin cậy cho tài khoản của bạn để đạt điểm trên
                            80% và xin phép admin để được bán.</p>
                        <p>
                            <button id="btn_dangBan" class="btn btn-danger">Đăng bán ngay</button>
                            <button id="btn_timHieuThem" class="btn btn-default">Tìm hiểu thêm</button>
                        </p>
                    </div>
                </div><!--alert-->
                <h4>Quản lý thông tin đấu giá</h4>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <img id="avt-img" src="{{layoutModels.curUser.avt_path}}" style="width: 80px;height: 80px;">
                    </div>
                    <div class="col-md-10" style="margin-top: 10px;">
                        <div><h4>{{layoutModels.curUser.name}}</h4></div>
                        <div><a href="thongTinCaNhan.html">Xem trang cá nhân của bạn</a></div>
                    </div>
                </div><!--row 1-->
                <hr>
                <div class="row">
                    <div class="tabbable boxed parentTabs">
                        <ul class="nav nav-tabs" style="background-color: #F5F5F5;">
                            <li class="active">
                                <a href="#set1">Quản lý mua</a>
                            </li>
                            <li>
                                <a id="btn_quanLyBan" href="#set2" data-toggle="tooltip" data-placement="top"
                                   title="Bạn chưa được bán">Quản lý bán</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="set1">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#sub11">
                                                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                                                Đang đấu giá
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#sub12">
                                                <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                                Sản phẩm yêu thích
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#sub13">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                Lịch sử
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="sub11">
                                            <table class="table table-hover bidding-table">
                                                <thead>
                                                <tr>
                                                    <th>Mã SP</th>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá mua ngay</th>
                                                    <th>Giá cao nhất</th>
                                                    <th>Người giữ giá</th>
                                                    <th>N01</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!--danh sách đang đấu giá-->
                                                {{#each bidding_list}}
                                                    <tr class="tr-bidding-list">
                                                        <th scope="row"><a href="#">{{pro_id}}</a></th>
                                                        <td><a href="/produces/detail/{{pro_id}}">{{name}}</a></td>
                                                        <td>{{number_format purchase_price}}</td>
                                                        <td>{{number_format highest_price}}</td>
                                                        <td><a href="#">{{bidder_email}}</a></td>
                                                        <td class="bidding-td">
                                                            <img class="{{msg}}" src="/images/top-one.png" alt="">
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--danh sách sản phẩm yêu thích-->
                                        <div class="tab-pane fade" id="sub12">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Mã SP</th>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá mua ngay</th>
                                                    <th>Giá cao nhất</th>
                                                    <th>Người giữ giá</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each favorite_list}}
                                                    <tr>
                                                        <th scope="row"><a href="#">{{pro_id}}</a></th>
                                                        <td><a href="/produces/detail/{{pro_id}}">{{name}}</a></td>
                                                        <td>{{number_format purchase_price}}</td>
                                                        <td>{{number_format highest_price}}</td>
                                                        <td><a href="#">{{bidder_email}}</a></td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--danh sách lịch sử đấu giá-->
                                        <div class="tab-pane fade" id="sub13">
                                            <table class="table table-hover won-list-table">
                                                <thead>
                                                <tr>
                                                    <th>Mã SP</th>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá khởi điểm</th>
                                                    <th>Giá đã đặt</th>
                                                    <th>Đánh giá người bán</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each history_list}}
                                                    <tr>
                                                        <th scope="row"><a href="#">{{pro_id}}</a></th>
                                                        <td><a href="#">{{name}}</a></td>
                                                        <td>{{number_format start_price}}</td>
                                                        <td>{{number_format highest_price}}</td>
                                                        <td class="td-check-mark-seller text-center"
                                                            id="{{seller_id}}">{{check_mark}}</td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="set2">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#sub21">
                                                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                                                Sản phẩm đang bán
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#sub22">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                Sản phẩm đã có người mua
                                            </a>
                                        </li>
                                    </ul>
                                    <!--các sản phẩm đang được bán, còn đấu giá được-->
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="sub21">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Mã SP</th>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá khởi điểm</th>
                                                    <th>Giá cao nhất</th>
                                                    <th>Người giữ giá</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each selling_list}}
                                                    <tr>
                                                        <th scope="row"><a href="#">{{pro_id}}</a></th>
                                                        <td><a href="#">{{name}}</a></td>
                                                        <td>{{number_format start_price}}</td>
                                                        <td>{{number_format highest_price}}</td>
                                                        <td><a href="#">{{email}}</a></td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--danh sách sản phẩm đã được mua-->
                                        <div class="tab-pane fade" id="sub22">
                                            <table class="table table-hover bidded-list-table">
                                                <thead>
                                                <tr>
                                                    <th>Mã SP</th>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá được mua</th>
                                                    <th>Người mua</th>
                                                    <th>Đánh giá người mua</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {{#each selled_list}}
                                                    <tr>
                                                        <th scope="row"><a href="#">{{pro_id}}</a></th>
                                                        <td><a href="#">{{name}}</a></td>
                                                        <td>{{number_format highest_price}}</td>
                                                        <td><a href="#">{{email}}</a></td>
                                                        <td class="td-check-mark-bidder text-center"
                                                            id="{{user_highest_price}}">{{check_mark}}</td>
                                                    </tr>
                                                {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--row 2-->

            </div>
        </div>
    </div><!--panel thong tin ca nhan-->
    <!--start: panel nạp khoản-->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-4">
                    <img id="vcoin-img" src="/images/mark-icon.png">
                </div>
                <div class="rol-md-8">
                    <div><h4>Các lượt đánh giá</h4></div>
                    <div><h3 id="num-mark" style="font-size: 13px;"></h3></div>
                </div>
            </div>
            <div class="panel-body" id="panel-2">
                <div style="margin-bottom: 10px;">
                    <span style="font-size: 18px;" class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    <b>Các lượt nhận xét</b>
                </div>
                <div class="scrollable">
                    <table class="table table-bordered mark-table">
                        {{#each mark_list}}
                            <tr>
                                <td>
                                    <p>
                                        <b style="color: red;">{{check_time}}</b>
                                    </p>
                                    <p>
                                        <b>Vai trò: </b>{{marker_brand}}
                                    </p>
                                    <p>
                                        <b>Người đánh giá: </b>{{marker_email}}
                                    </p>
                                    <p>
                                        <b>Nhận xét: </b>{{comment}}
                                    </p>
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
