{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/css/signIn.css">
    <link rel="stylesheet" type="text/css" href="/assests/css/thongTinCaNhan.css">
    <link rel="stylesheet" type="text/css" href="/assests/css/userMark.css">
{{/section}}

{{#section 'js'}}
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });


        var point = 0;
        $('.img-pick').click(function(){
            if($(this).attr('id') == 0){
                $('#0').css('background-color', 'green');
                $('#1').css('background-color', '#fff');
                $('#1').css('opacity', '0.3');
                $('#0').css('opacity', '1');
                point = 1;
            }else{
                $('#0').css('background-color', '#fff');
                $('#1').css('background-color', 'green');
                $('#1').css('opacity', '1');
                $('#0').css('opacity', '0.3');
                point = -1;
            }
        })

        $('#btnMark').click(function(){
            if (point == 0)
            {
                alert("Bạn chưa click vào hình bình chọn!");
                return false;
            }else {

                $('#txtUserType').val($('#id-user-type').attr('class'));
                $('#txtUserId').val($('#id-bi_danh_gia').attr('class'));
                $('#txtMarkerId').val($('#id-marker').attr('class'));
                $('#txtProId').val($('#id-pro').attr('class'));

                console.log($('#id-bi_danh_gia').attr('class'));
                console.log($('#id-marker').attr('class'));
                console.log($('#id-pro').attr('class'));

                $('#txtPoint').val(point);
                $('#form-marking').submit();
            }
        })

    </script>
{{/section}}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="panel panel-default">
                <div class="panel-heading text-left">
                    <h3 style="color: #888 !important;">Sản phẩm: <b>{{pro_name}}</b></h3>
                    <h4 style="color: #555 !important;">Đánh giá tài khoản: <b style="color: red;">{{bi_danh_gia_mail}}</b></h4>
                </div>
                <div class="panel-body">
                    <div class="container-img text-center">
                        <img src="/images/angry.png" alt="" class="img-pick" id="0" data-placement="left" data-toggle="tooltip"
                             title="Chất lượng như mong đợi!">
                        <img src="/images/smile.png" alt="" class="img-pick" id="1" data-placement="right"
                             data-toggle="tooltip" title="Thất vọng!">
                    </div>
                    <div class="form-summit text-center">
                        <form method="post" action="/user/user-marking" id="form-marking">
                            <div id="id-user-type" class="{{user_type}}"> </div>
                            <div id="id-bi_danh_gia" class="{{bi_danh_gia_id}}"> </div>
                            <div id="id-pro" class="{{pro_id}}"> </div>
                            <div id="id-marker" class="{{layoutModels.curUser.user_id}}"> </div>
                            <div class="form-group">
                                <label for="hold-id-user" id="{{layoutModels.curUser.user_id}}"> </label>
                                <input type="hidden" class="form-control" id="txtUserType" name="txtUserType">
                                <input type="hidden" class="form-control" id="txtUserId" name="txtUserId">
                                <input type="hidden" class="form-control" id="txtMarkerId" name="txtMarkerId">
                                <input type="hidden" class="form-control" id="txtProId" name="txtProId">
                                <input type="hidden" class="form-control" id="txtPoint" name="txtPoint">
                                <input type="text" class="form-control" id="txtComment" name="txtComment" placeholder="Vui lòng cho nhận xét...">
                            </div>
                            <button class="btn btn-success" id="btnMark">Xác nhận đánh giá</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

