{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/css/signUp.css">
{{/section}}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-top: 20px;">
        <div class="panel panel-success">
            <div class="panel-heading" >
                <form id="infor-form" method="post" action="/user/chinhsua" enctype="multipart/form-data" class="form-horizontal" style="padding: 20px 20px 40px 20px;">
                    <h2 style="text-align: center; margin-bottom: 30px">Chỉnh sửa thông tin cá nhân</h2>
                    <div class="form-group">
                        <label for="avatar" class="col-sm-3 control-label">Ảnh đại diện: </label>

                        <div class="col-sm-4" >
                            <input type="file" name="avatar" id="avatar" style="display: none;" accept="image/*"/>
                            <a class="thumbnail" onclick="document.getElementById('avatar').click();">
                                <img id="imgAvatar" src="{{layoutModels.curUser.avt_path}}" alt="Chọn avatar" >
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_email" class="col-sm-3 control-label">Email: </label>
                        <div class="col-sm-8">
                            <input id="txt_email" name="txt_email" type="email" class="form-control"  value="{{ layoutModels.curUser.email}}" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_hoTen" class="col-sm-3 control-label">Họ và tên: </label>
                        <div class="col-sm-8">
                            <input id="txt_hoTen" name="txt_hoTen" type="text" class="form-control" placeholder="Họ và tên" value="{{ layoutModels.curUser.name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_sdt" class="col-sm-3 control-label">Số điện thoại: </label>
                        <div class="col-sm-8">
                            <input id="txt_sdt" name="txt_sdt" type="text" class="form-control" placeholder="Số điện thoại" value="{{ layoutModels.curUser.phone}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_diaChi" class="col-sm-3 control-label">Địa chỉ: </label>
                        <div class="col-sm-8">
                            <input id="txt_diaChi" name="txt_diaChi" type="text" class="form-control" placeholder="Địa chỉ" value="{{ layoutModels.curUser.address}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_password" class="col-sm-3 control-label">Mật khẩu: </label>
                        <div class="col-sm-8">
                            <input id="txt_password" name="txt_password" type="password" class="form-control" placeholder="Xác nhận mật khẩu">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            {{#if showError }}
                                <span id="err" style="color: #ff0000;">Mật khẩu không chính xác</span>
                            {{/if}}
                            {{#if showSuccess }}
                                <span id="err" style="color: #00acd6;">Thông tin thay đổi thành công. Đăng nhập lại để hoàn tất thay đổi.</span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Lưu thay đổi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--panel-->
    </div>
    <div class="col-md-4"></div>
</div>

{{#section 'js'}}
    <script src="/assests/jquery.validate.min.js"></script>
    <script src="/assests/validation.js"></script>
    <script>
        function readURL(input,img) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(img).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#avatar").change(function(){
            readURL(this,'#imgAvatar');
        });
    </script>

{{/section}}