
{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/css/index.css">
{{/section}}
{{#section 'a'}}
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <a href="#" id="a_a">{{cateName}}</a>
{{/section}}
{{#section 'select'}}
    <select name="cbb_sx" id="cbb_sx" >
        <option value="0">Sắp xếp</option>
        <option value="1">TG Kết thúc giảm dần</option>
        <option value="2">Giá tăng dần</option>
    </select>
{{/section}}


<!--Form dùng để gửi id sản phẩm-->
<form method="post" action="" id="frmProduceDetail">
    <input id="txtProduceDetail" type="hidden" name="txtProduceDetail" />
</form>
<!---->
<div class="row">
    <div class="panel-heading">
        <br>
    </div>
    {{#each produces }}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contain-avatar-with-timer">
                            <img class="anh-san-pham" src="{{img_path}}" alt="...">
                            <div class="thoi-gian-chay-nguoc">
                                <!-- <img class="ha-dong-ho-cat" src="../public/images/hourglass.png"> -->
                                <p id="{{pro_id}}" class="chuoi-thoi-gian">{{total_time}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" style="padding: 0">
                        <div class="caption">
                            <div class="ten-san-pham">
                                <a>{{name}}</a>
                            </div>
                            <p class="tien">{{number_format highest_price}}</p>
                            <p class="gia-tien">Giá mua ngay: {{number_format purchase_price}}</p>

                            <a href="/produces/detail/{{pro_id}}" class="btn btn-primary" role="button">
                                <span class="glyphicon glyphicon-fire " aria-hidden="true"></span>
                                Đấu giá
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<div style="text-align: center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
                <li>
                    <a href="?page={{prevPage}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <li>
                    <a href="?page={{nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>

</div>

{{#section 'js'}}
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assests/js/produceItem.js"></script>
    <script>
        $('#cbb_sx').change(function () {
            if($(this).val()=='1'){

                {{produces}}.forEach(function (item) {
                    console.log('dfdfdfdf')
                });
                //window.location.reload(true);
            }
        })
    </script>
{{/section}}

