
{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/css/index.css">
{{/section}}
{{#section 'a'}}
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <a href="#" id="a_a">{{cate_name}}</a>
{{/section}}
{{#section 'select'}}
    <select name="cbb_sx" id="cbb_sx" >
        <option value="0">Sắp xếp</option>
        <option value="1">TG Kết thúc giảm dần</option>
        <option value="2">Giá tăng dần</option>
    </select>
{{/section}}


<!--Form dùng để gửi id sản phẩm-->
<form method="post" action="" id="frmProduceDetail">
    <input id="txtProduceDetail" type="hidden" name="txtProduceDetail" />
</form>
<!---->
<div class="row">
    <div class="panel-heading">
        <br>
    </div>
    {{#each produces }}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="ten-san-pham">
                    <a>{{name}}</a>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="contain-avatar-with-timer">
                            <img class="anh-san-pham" src="{{img_path}}" alt="...">
                            <div class="thoi-gian-chay-nguoc">
                                <!-- <img class="ha-dong-ho-cat" src="../public/images/hourglass.png"> -->
                                <p id="{{pro_id}}" class="chuoi-thoi-gian">{{total_time}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" style="padding: 0">
                        <div class="caption">
                            <div class="product-info">
                                <span class="sp_gia">Người giữ giá </span><p class="tien _email">{{email}}</p>
                                <span class="sp_gia">Giá cao nhất </span><p class="tien">{{number_format highest_price}}</p>
                                <span class="sp_gia">Giá mua ngay </span><p class="gia-tien">{{number_format purchase_price}}</p>
                            </div>
                            <div class="button-submit">
                                <a href="/produces/detail/{{pro_id}}" class="btn btn-primary " role="button">
                                    <span class="glyphicon glyphicon-fire " aria-hidden="true"></span>
                                    Đấu giá
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <img class ="new-icon" src="/images/new__icon2.png" alt="">
            </div>
        </div>
    {{/each}}
</div>
<div style="text-align: center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{#if showPrevPage}}
                <li>
                    <a href="?page={{prevPage}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}
            {{#each pages }}
                {{#if isActive }}
                    <li class="active">
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{else}}
                    <li>
                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                    </li>
                {{/if}}
            {{/each}}
            {{#if showNextPage }}
                <li>
                    <a href="?page={{nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>

</div>
<a href="/category/danhmuc/sapxepgiam/{{cateId}}" class="btn btn-primary " role="button" id="btn_sxgiam" style="display: none" ></a>
<a href="/category/danhmuc/sapxeptang/{{cateId}}" class="btn btn-primary " role="button" id="btn_sxtang" style="display: none"></a>
<a href="/category/timkiem/sapxepgiam/{{cateName}}" class="btn btn-primary " role="button" id="btn_sxgiam2" style="display: none" ></a>
<a href="/category/timkiem/sapxeptang/{{cateName}}" class="btn btn-primary " role="button" id="btn_sxtang2" style="display: none"></a>
{{#section 'js'}}
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assests/js/produceItem.js"></script>
    <script>
        var f1=0;
        $(function () {
            $("#cbb_sx").val({{sx}});
            start();
            var x = document.getElementsByClassName("_email");

            for (var i = 0; i < x.length; i++) {
                var str=(x[i].innerText);
                var vt = str.indexOf('@');
                var str2=str.substr(0,vt-3);
                str=str.replace(str2,'xxx');
                (x[i].innerText)=str;

            }
            if(f1==0){
                $("._email").show();
                f1=1;
            }
        })
        $('#cbb_sx').change(function () {

            var i={{type}};
            if(i==0){
                if($(this).val()=='1'){
                    var href = $('#btn_sxgiam').attr('href');
                    window.location.href = href;
                }
                if($(this).val()=='2'){
                    var href = $('#btn_sxtang').attr('href');
                    window.location.href = href;
                }
            }else{
                if($(this).val()=='1'){
                    var href = $('#btn_sxgiam2').attr('href');
                    if(href=='/category/timkiem/sapxepgiam/')
                        href+='-1';
                    window.location.href = href;

                }
                if($(this).val()=='2'){
                    var href = $('#btn_sxtang2').attr('href');
                    if(href=='/category/timkiem/sapxeptang/')
                        href+='-1';
                    window.location.href = href;

                }
            }

        })

        var ns=[],hs=[],ps=[],gs=[];
        var f=0;
        function start() {
            var x = document.getElementsByClassName("chuoi-thoi-gian");
            for (var i = 0; i < x.length; i++) {
                var n,h,p,g,t,l;
                l=(x[i].innerText).length;

                t = (x[i].innerText).substr(0, l-6);
                n=parseInt(t/24);
                h=t%24;

                p = (x[i].innerText).substr(l-1-4, 2);
                g = (x[i].innerText).substr(l-1-1, 2);
                ns.push(n);
                hs.push(h);
                ps.push(p);
                gs.push(g);
            }
            timer = setInterval(function() {
                for (var i = 0; i < x.length; i++){
                    gs[i]--;
                    if(gs[i]<0 && ps[i]>0)
                    {
                        gs[i]=59;
                        ps[i]--;
                        if(ps[i]<0&&hs[i]>0){
                            ps[i]=59;
                            hs[i]--;
                            if(hs[i]<0 && ns[i]>0){
                                hs[i]=23;
                                ns[i]--;
                            }
                        }
                    }else{
                        //dung hinh
                    }

                    (x[i].innerText)=(chuyenDoiThoiGian(ns[i],hs[i],ps[i],gs[i]));
                    if(f==0){
                        $(".chuoi-thoi-gian").show();
                        f=1;
                    }
                }
            }, 1000);

        }
        function chuyenDoiThoiGian(n,h,p,g) {
            return n+' ngày '+h+':'+p+':'+g;
        }
    </script>
{{/section}}

