{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/css/produceDetail.css">
    <script type="text/javascript" src="/assests/js/chitiet.js"></script>
{{/section}}

{{#section 'js'}}
    <script type="text/javascript" src="/assests/js/chitiet.js"></script>
{{/section}}

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="img-slide">
                    <img class="anh-san-pham" src="../../public/images/SanPham/CongNghe/sp1/01.png" alt="...">
                    <div class="slide-pick">
                        <a href="#" class="thumbnail img-pick">
                            <img src="../../public/images/SanPham/CongNghe/sp1/01.png" alt="...">
                        </a>
                        <a href="#" class="thumbnail img-pick">
                            <img src="../../public/images/SanPham/CongNghe/sp1/02.png" alt="...">
                        </a>
                        <a href="#" class="thumbnail img-pick">
                            <img src="../../public/images/SanPham/CongNghe/sp1/03.png" alt="...">
                        </a>
                    </div>
                </div>
            </div>
            {{#each product}}
                <div class="col-sm-6 col-md-3">
                    <p class="title-id">{{pro_name}}</p>
                    <p id="" src="#" style="display: inline-block">Người bán:</p>
                    <p id="seller_email" src="#" style="display: inline-block">{{seller_email}}</p>
                    <a class="title-seller" style="display: inline-block">{{seller_point}}</a>

                    <p class="clear-margin">Thời điểm đăng: {{start_time}}</p>
                    <p class="clear-margin">Thời điểm kết thúc: {{end_time}}</p>
                    <p class="clear-margin">Giá hiện tại: {{highest_price}}</p>
                    <p class="clear-margin">Giá mua ngay: {{purchase_price}}</p>
                    <p class="clear-margin" style="display: inline-block">Người giữ giá:</p>
                    <p id="bidder_email" style="display: inline-block">{{bidder_email}}</p>
                    <a class="title-seller" style="display: inline-block">{{bidder_point}}</a>

                    <p id="1" class="chuoi-thoi-gian">{{total_time}}</p>
                    <p class="money-of-rival clear-margin"></p>
                    <form>
                        <div>
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group cus-input-money-text">
                                <input type="text" class="form-control" id="exampleInputAmount"
                                       placeholder="Nhập giá mua">
                                <div class="input-group-addon">đồng</div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary cus-button-bid">
                            <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Đặt giá
                        </button>
                    </form>
                </div>
            {{/each}}
            <div class="col-sm-6 col-md-5">
                <table class="table table-bordered" style="margin-bottom: 0;">
                    <thead>
                    <tr class="cus-header-table">
                        <td style="width:121px; height: 20px;">Số tiền</td>
                        <td style="width:100px;">Thời gian</td>
                        <td>Người đặt</td>
                    </tr>
                    </thead>
                </table>
                <table class="table table-hover table-bordered cus-bid-table">
                    <tr class="cus-row-table">
                        <td style="width:120px;">100.000.000.000đ</td>
                        <td style="width:100px;">07:05:00</td>
                        <td style="width:217px; max-width:217px;"><a href="#">thanhthientai@gmail.com</a></td>
                    </tr>
                    <tr class="cus-row-table">
                        <td>60.000đ</td>
                        <td>05:05:00</td>
                        <td><a href="#">bidhero@gmail.com</a></td>
                    </tr>
                    <tr class="cus-row-table">
                        <td>100.000đ</td>
                        <td>04:30:00</td>
                        <td><a href="#">emxinthua@gmail.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


