{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/css/produceDetail.css">
    <script type="text/javascript" src="/assests/js/chitiet.js"></script>
    <style>
        #mceu_22,#mceu_1,#mceu_0,#mceu_20,#mceu_17,#mceu_15,#mceu_14,#mceu_13,#mceu_41-body,.mce-branding-powered-by{
            display: none; !important;
        }
        #txt_des{
            position: relative;
        }
        #btn_des{
            position: absolute;
            bottom: 38px;
            right: 30px;
        }
        .scrollable{
            margin-top: 0;
            height: 60vh;
            overflow: scroll;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        table {
            border-collapse:collapse;
            table-layout:fixed;
            width:100%;
        }
    </style>
{{/section}}



{{#section 'a'}}
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <a href="#" id="a_a">{{status_name}}</a>
{{/section}}

<div class="row">
    <div class="container">

        <div class="row">
            <form method="post" id="frm_daugia" action="/produces/detail">
                {{#with product}}
                <div class="col-md-12" id="product_name" style="display: inline-block">
                    <p style="display: inline-block; margin-bottom: 0;">Sản phẩm: </p>
                    {{pro_name}}
                    <br>
                    <p style="display: inline-block; font-size: 14px;">Người đăng: </p>
                    <p id="seller_email">{{seller_email}} | <a class="seller_point" >Điểm đánh giá: {{seller_point}}</a></p>

                    <button id="btn_yeuthich"  name="btn_dg" value="btn_yeuthich" type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    </button>


                    <hr style="margin-top: 5px">
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="img-slide">
                        <img class="anh-san-pham" src="{{img01}}" alt="...">
                        <div class="slide-pick">
                            <div class="thumbnail img-pick">
                                <img src="{{img01}}" alt="...">
                            </div>
                            <div class="thumbnail img-pick">
                                <img src="{{img02}}" alt="...">
                            </div>
                            <div class="thumbnail img-pick">
                                <img src="{{img03}}" alt="...">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thoi-gian-con-lai">
                        <div id="1" class="chuoi-thoi-gian">
                            <p id="p_ngay" class="clear-margin display-inline-block">{{days}}</p> <p class="clear-margin display-inline-block">ngày</p>
                            <p id="p_gio" class="clear-margin display-inline-block">{{hours}}</p> <p class="clear-margin display-inline-block">:</p>
                            <p id="p_phut" class="clear-margin display-inline-block">{{minutes}}</p><p class="clear-margin display-inline-block">:</p>
                            <p id="p_giay" class="clear-margin display-inline-block">{{seconds}}</p>
                        </div>
                    </div>
                    <div class="thong-tin-sp">
                        <div class="info-inline" style="margin-top: 30px;margin-left: 10px">
                            <p class="clear-margin display-inline-block title-info">Đăng lúc: </p>
                            <p class="clear-margin display-inline-block value-info">{{start_time}}</p>
                        </div>
                        <div class="info-inline" style="margin-left: 10px">
                            <p class="clear-margin display-inline-block title-info">Kết thúc vào: </p>
                            <p class="clear-margin display-inline-block value-info">{{end_time}}</p>
                        </div>
                        <div class="info-inline" style="margin-left: 10px">
                            <p class="clear-margin display-inline-block title-info">Giá hiện tại: </p>
                            <p class="clear-margin display-inline-block value-info">{{number_format highest_price}}</p>
                        </div>
                        <div class="info-inline" style="margin-left: 10px">
                            <p class="clear-margin display-inline-block title-info">Giá mua ngay: </p>
                            <p class="clear-margin display-inline-block value-info">{{number_format purchase_price}}</p>
                        </div>
                        <div class="info-inline" style="margin-left: 10px">
                            <p class="clear-margin display-inline-block title-info">Người giữ giá:</p>
                            <p id="bidder_email" class="display-inline-block value-info" style="display: inline-block">{{bidder_email}}</p>
                        </div>
                        <div class="info-inline" style="margin-left: 10px">
                            <p class="clear-margin display-inline-block title-info">Điểm đánh giá: </p>
                            <p id="bidder_email" class="display-inline-block value-info" style="display: inline-block">{{bidder_point}}</p>
                        </div>
                        <p class="money-of-rival clear-margin"></p>

                            <div>
                                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                                <div class="input-group cus-input-money-text" style="width: 100%;margin-top: 40px">
                                    <input type="text" class="form-control" id="txt_gia" name="txt_gia" style="display: none"
                                           placeholder="Nhập giá mua">
                                </div>
                                <input type="text" class="form-control" id="txt_kich_user_id" name="txt_kich_user_id" style="display: none">
                                <input type="text" class="form-control" id="txt_pro_id" name="txt_pro_id" style="display: none" value="{{pro_id}}">
                                <input type="text" class="form-control" id="txt_pro_name" name="txt_pro_name" style="display: none" value="{{pro_name}}">
                                <input type="text" class="form-control" id="txt_hprice" name="txt_hprice" style="display: none" value="{{highest_price}}">
                                <input type="text" class="form-control" id="txt_sprice" name="txt_sprice" style="display: none" value="{{sprice}}">
                            </div>
                            <div class="btn_daugia" style="width: 100%">
                                <p class="clear-margin display-inline-block title-info" id="p_kick" style="color: #ff0000;font-size: 14px; margin-top: 30px; display: none;margin-left: 10px">Bạn đã bị kick khỏi sản phẩm này</p>
                                <p class="clear-margin display-inline-block title-info" id="p_hettg" style="color: #ff0000;font-size: 14px; margin-top: 30px; display: none;margin-left: 10px">Cuộc đấu giá đã kết thúc</p>
                                <button id="btn_dg" name="btn_dg" value="btn_dg" type="submit" class="btn btn-primary cus-button-bid" style="display: none;width: 105px">
                                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Đặt giá
                                </button>
                                <button id="btn_dgtudong"  name="btn_dg" value="btn_dgtudong" type="submit" class="btn btn-primary cus-button-bid" style="display: none">
                                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Đấu giá tự động
                                </button>
                            </div>
                    </div>
                </div>
                {{/with}}
                <div class="col-sm-6 col-md-5">
                    <div class="scrollable category-list">
                        <table class="table table-bordered text-center table-hover">
                            <thead>
                            <tr class="tr-cate-table">
                                <td>Số tiền</td>
                                <td>Thời gian</td>
                                <td>Người đấu giá</td>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each detail_bid}}
                                <tr>
                                    <td id="gia1">
                                        {{number_format price}}đ
                                    </td>
                                    <td>{{time}}</td>

                                    <td>
                                        <div class="showBtn">{{user_email}}
                                            <a href="javascript:;" class="btn btn-warning btn_kich" style="display: none" data-id="{{user_id}}">Kích</a>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <hr>
        <div class="row">
            <!--<div class="col-md-1"></div>-->
            <div class="col-md-8">
                {{#with product}}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mô tả sản phẩm</h3>
                    </div>
                    <div class="panel-body">
                        <div style="padding: 30px;">
                            {{{describe}}}
                        </div>
                        <form action="/produces/addDes" method="post">
                            <input type="text" class="form-control" id="txt_des_path" name="txt_des_path" style="display: none" value="{{des_path}}">
                            <input type="text" class="form-control" id="txt_des_pro" name="txt_des_pro" style="display: none" value="{{pro_id}}">
                            <div id="div_des" style="display: none">
                            <textarea name="txt_moTa" id="txt_moTa" class="tinymce">
                            </textarea>
                                <button id="btn_des"  type="submit" class="btn btn-default">Thêm mô tả</button>

                            </div>

                        </form>
                    </div>
                </div>
                {{/with}}
            </div>
            <div class="col-md-4">
                <div class="panel panel-info" style="padding: 15px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mua bán an toàn</h3>
                    </div>
                    <div class="panel-body" style="font-size: 18px;">
                        <ul class="text-justify _22YJzAZrpSieJeBT7zGVEY">
                            <li><em>KH&Ocirc;NG trả tiền trước khi nhận h&agrave;ng.</em></li>
                            <li><em>Kiểm tra h&agrave;ng cẩn thận, đặc biệt với h&agrave;ng đắt tiền.</em></li>
                            <li><em>Hẹn gặp ở nơi c&ocirc;ng cộng.</em></li>
                            <li><em>Nếu bạn mua h&agrave;ng hiệu, h&atilde;y gặp mặt tại cửa h&agrave;ng để nhờ x&aacute;c minh, tr&aacute;nh mua phải h&agrave;ng giả.</em></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'js'}}
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/assests/plugin/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/assests/plugin/tinymce/init-tinymce2.js"></script>
    <script type="text/javascript" src="/assests/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assests/js/chitiet.js"></script>
    <script>
        $(function (){
           $('#txt_gia').val({{hprice}}+{{sprice}});
           if({{f_fav}}){
               $('#btn_yeuthich').css('background-color','#ff0000');
           }
           if(({{total_time}})>0){
                if({{f_kick}}){
                    $('#p_kick').show();
                }else{
                    $('#btn_dg').show();
                    $('#btn_dgtudong').show();
                    $('#txt_gia').show();
                }
            }else{
                $('#p_hettg').show();
                $('.btn_kich').show();
            }
            if({{f_sell}}){
                $('#div_des').show();
                $('.btn_kich').show()
            }else{

            }
        });
        $('.btn_kich').on('click', function() {
            var id = $(this).data('id');
            $('#txt_kich_user_id').val(id);
            $('#frm_daugia').submit();
        });
        $('#frm_daugia').validate({
            rules:{
                txt_gia:{
                    required:true,
                    min:function () {
                        return {{hprice}}+{{sprice}};
                    }
                }
            },
            messages:{
                txt_gia:{
                    required:'Bạn chưa nhập giá đấu',
                    min:function () {
                        return'Mức giá phải từ ' +({{hprice}}+{{sprice}}).toString()+'đ trở lên';
                    }
                }
            },
            errorElement: 'span',
            errorClass: 'help-block',

            highlight: function (element) {
                $(element)
                        .closest('.form-group')
                        .addClass('has-error');
            },

            success: function (label) {
                $(label)
                        .closest('.form-group')
                        .removeClass('has-error');

                label.remove();
            }
        })
        $("#btn_dg").click(function () {

            if(({{layoutModels.isLogged}}) && ({{layoutModels.isBid}})){
                if (confirm('Bạn muốn đặt mức giá '+$('#txt_gia').val()+'đ cho sản phẩm ?')) {
                } else {
                    return false;
                }
            }
            else{
                alert('Bạn không thể đấu giá, vui lòng kiểm tra lại...');
                return false;
            }

        });

        $("#btn_dgtudong").click(function () {
            if(({{layoutModels.isLogged}}) && ({{layoutModels.isBid}})){
                if (confirm('Bạn muốn đặt TỰ ĐỘNG mức giá '+$('#txt_gia').val()+'đ cho sản phẩm ?')) {
                } else {
                    return false;
                }
            }else{
                alert('Bạn không thể đấu giá, vui lòng kiểm tra lại...');
                return false;
            }
        });

        $('#btn_yeuthich').click(function () {
            if(({{layoutModels.isLogged}})){
            }
            else{
                alert('Vui lòng đăng nhập trước khi thực hiện thao tác này...');
                return false;
            }
        })

    </script>
{{/section}}

